<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <form action="/view" method="POST">
        <p>Name</p>
        <input type="text" name="name">
        <p>Age</p>
        <input type="number" name="age">
        <p>Address</p>
        <input type="text" name="address">
        <p>Nationalety</p>
        <input type="text" name="nationalety">
        <input type="submit" value="Submit">
    </form>
</body>
</html>